@page "/RecuperarContrasena/{id:int}"
@using PortalDePedidosShared
@using PortalDePedidosShared.LoginVM
@using PortalDePedidosService
@layout LogInLayout

@inject LogInClienteService _loginService
@inject NavigationManager navigation
@inject LoginContainer _loginContainer
@inject IJSRuntime js

    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <img class="brand-image-xl " src="/imagenes/logo/logo_empresa.png" />
                <p>Portal de Pedidos</p>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Genera tu nueva contraseña</p>
                <EditForm Model="recuperaVM" OnValidSubmit="Recuperar">
                    <DataAnnotationsValidator />
                    <div class="input-group">
                        @if (enviado)
                        {
                            <InputText @bind-Value="@recuperaVM.Contrasena" readOnly type="password" class="form-control" placeholder="Contraseña Nueva"></InputText>
                        }
                        else
                        {
                            <InputText @bind-Value="@recuperaVM.Contrasena" type="password" class="form-control" placeholder="Contraseña Nueva"></InputText>
                        }
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <ValidationMessage For="(()=> recuperaVM.Contrasena)" />

                    <div class="input-group mt-3">
                        @if (enviado)
                        {
                            <InputText @bind-Value="@recuperaVM.ConfirmarContrasena" readOnly type="password" class="form-control" placeholder="Confirmar Contraseña"></InputText>
                        }else{
                            <InputText @bind-Value="@recuperaVM.ConfirmarContrasena" type="password" class="form-control" placeholder="Confirmar Contraseña"></InputText>
                        }
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <ValidationMessage For="(()=> recuperaVM.ConfirmarContrasena)" />

                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="submit" disabled="@enviado" class="btn btn-primary btn-block">Cambiar contraseña</button>
                        </div>

                    </div>
                </EditForm>
                <p class="mt-3 mb-1">
                    <a href="/">Ingresar</a>
                </p>
            </div>
        </div>
    </div>


@code {
    [Parameter]
    public int id { get; set; }

    public RecuperarContrasenaVM recuperaVM = new();
    public bool enviado = false;

    protected override async Task OnInitializedAsync()
    {
        recuperaVM.Id = id;
        recuperaVM.ContrasenaAnterior = _loginContainer.SesionUsuario.Contrasena;
        if (!await _loginService.EnlaceValido(id))
        {
            navigation.NavigateTo("enlaceCaducado");
        }
    }

    public async Task Recuperar()
    {
        enviado = true;

        if(await _loginService.RecuperarContrasena(recuperaVM))
        {
            _loginContainer.SesionUsuario = new();
            var msj = "Se cambio la contraseña correctamente!";
            await js.InvokeVoidAsync("AlertaExito", msj);
            await Task.Delay(3000);
            navigation.NavigateTo("/");
        }
        else
        {
            var msj = "Fallo la recuperacion de contraseña!";
            await js.InvokeVoidAsync("AlertaFallo",msj);
        }
        
        enviado = false;
    }
}
