@page "/IngresoPedidosTablaUsuarios"
@using PortalDePedidosModel
@using PortalDePedidosService
@using PortalDePedidosShared.IngresoPedidosVM
@using PortalDePedidosShared.UsuariosVM
@using Blazorise.DataGrid
@using Blazorise
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime js
@* @attribute [Authorize(Roles = "Comercial")] *@
@inject UsuarioClienteService _usuarioService
@inject NavigationManager navigation
@inject CarritoPedidosContainer _carritoPedidos



<div class="my-scrollbar-page">
    <div class="card card-primary mt-2">

        <div class="card-header">
            <div class="card-title">Seleccione un Cliente para Ingresar un Pedido</div>
        </div>

        <div class="card-body">

            <div class="input-group">
                <input class="form-control" type="search" placeholder="Buscar por nombre, nro de JDE o razon social" @bind="@buscar" @onkeyup="HandleKeyPress"></input>
                <div class="input-group-append">
                    <button class="btn btn-default" @onclick="Buscar">
                        <i class="fas fa-search "></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="card card-primary">


        <div class="card-body">


            @if (espera)
            {

                <div style="display:flex;align-items:center;justify-content:center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            }
            else
            {

                <DataGrid TItem="UsuarioVM"
                          Data="@usuariosTabla"
                          PageSize="10000"
                          SelectedRowChanged="ClienteSeleccionado"
                          Class="table table-bordered table-striped ">

                    <DataGridColumn Field="@nameof(UsuarioVM.nombreUsuario)" Caption="Nombre de Usuario" Editable="false"></DataGridColumn>
                    <DataGridColumn Field="@nameof(UsuarioVM.nroUsuarioJDE)" Caption="Nro. Usuario en JDE" Editable="false"></DataGridColumn>
                    <DataGridColumn Field="@nameof(UsuarioVM.razonSocial)" Caption="Razon Social" Editable="false"></DataGridColumn>
                </DataGrid>
            }
        </div>
    </div>
</div>


@code {
    List<UsuarioVM> usuarios = new();
    List<UsuarioVM> usuariosTabla = new();
    FiltroUsuarios filtroUsuarios = new();
    string buscar = "";
    public bool espera = false;
    public bool clienteSeleccionado = false;

    protected override async Task OnInitializedAsync()
    {
        espera = true;
        // if (_carritoPedidos.IngresoPedidoVM.cliente == null)
        // {
            var msj = "¡Debe seleccionar un cliente antes de realizar el pedido!";
            //await js.InvokeVoidAsync("AlertaArticulo", msj);
        // }
        usuarios = await _usuarioService.GetClientes();
        usuariosTabla = usuarios;
        espera = false;
    }

    public async Task Buscar()
    {
        espera = true;

        var query = usuarios.AsQueryable();
        query = query.Where(x => x.nombreUsuario.ToUpper().Contains(buscar.ToUpper()) || x.nroUsuarioJDE.Contains(buscar) || x.razonSocial.ToUpper().Contains(buscar.ToUpper()));
        usuariosTabla = query.ToList();

        espera = false;
    }
    public void ClienteSeleccionado(UsuarioVM usuarioVM)
    {
        _carritoPedidos.IngresoPedidoVM.cliente = usuarioVM;
        navigation.NavigateTo("/IngresoPedidos/");
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            Buscar();
        }
    }
}