@page "/CuentasCorrientes"
@using PortalDePedidosModel
@using PortalDePedidosService
@using PortalDePedidosShared.CuentasCorrientesVM
@using PortalDePedidosShared.FacturasVM
@using PortalDePedidosShared.UsuariosVM
@using Blazorise.DataGrid
@using Blazorise
@using Blazored.SessionStorage
@using PortalDePedidos.Extensiones
@using ClosedXML.Excel
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.WebUtilities
@inject DataWareHouseClienteService _dataWarehouseService
@inject UsuarioClienteService _usuarioService
@inject IJSRuntime JSRuntime
@inject ExcelService _excelService
@inject ISessionStorageService _sessionStorageService;
@inject CuentasCorrientesContainer _cuentasCorrientesContainer
@inject NavigationManager navigation
@inject PdfClienteService _pdfService


@* <div class="my-scrollbar-page"> *@
<div class="card card-primary mt-2">
    <div class="card-header">
        @if (_cuentasCorrientesContainer?.cliente != null && sesionUsuario.Rol == "Comercial")
        {
            <h3 class="card-title">Cuentas corrientes de cliente: @_cuentasCorrientesContainer.cliente.nombreUsuario</h3>
        }
        else if (sesionUsuario != null && sesionUsuario.Rol != "Comercial")
        {
            <h3 class="card-title">Cuentas corrientes de cliente: @sesionUsuario.NombreUsuario</h3>
        }
    </div>

    <div class="card-body">
        @* <button class="btn btn-primary" @onclick="ExportToPdf">Exportar a PDF</button> *@
        <EditForm Model="filtro" OnInvalidSubmit="Buscar">

            @* <div class="input-group row">
                <label class="col-1">Fecha Desde: </label>
                <div class="col-2">
                    <InputDate class="form-control" @bind-Value="@filtro.FechaDesde" disabled="@espera"></InputDate>
                    <ValidationMessage For="(()=> filtro.FechaDesde)" />
                </div>

                <label class="col-1">Fecha Hasta: </label>
                <div class="col-2">
                    <InputDate class="form-control" @bind-Value="@filtro.FechaHasta" disabled="@espera"></InputDate>
                    <ValidationMessage For="(()=> filtro.FechaHasta)" />
                </div>
            </div> *@

            <div class="input-group row mt-2">
                <label class="col-1">Cliente: </label>
                <div class="col-2">
                    <InputSelect class="form-control" @bind-Value="@filtro.NroCliente" disabled>
                        @if (sesionUsuario?.Rol != "Comercial")
                        {
                            <option value="@sesionUsuario?.NroUsuarioJDE">@sesionUsuario?.NroUsuarioJDE - @sesionUsuario?.NombreUsuario</option>
                        }
                        else if (_cuentasCorrientesContainer?.cliente != null)
                        {
                            <option value="@_cuentasCorrientesContainer.cliente.nroUsuarioJDE">@_cuentasCorrientesContainer.cliente.nroUsuarioJDE - @_cuentasCorrientesContainer.cliente.nombreUsuario</option>
                        }
                    </InputSelect>

                    <ValidationMessage For="(()=> filtro.NroCliente)" />
                </div>


                <div class="input-group-append col-1">
                    <button class="btn" @onclick="Buscar" disable>
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
                @if (sesionUsuario.Rol == "Comercial")
                {
                    <div class="input-group-append col-2">
                        <button class="btn btn-primary" @onclick="Recargar">
                            <i class="fas fa-user"></i> Consultar otro cliente
                        </button>
                    </div>
                }
            </div>
        </EditForm>
    </div>

</div>

<div class="card">
    <div class="card-body">
        @if (espera)
        {

            <div style="display:flex;align-items:center;justify-content:center">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        }
        else
        {



            <a class="col col-1" type="Button" @onclick="GenerarExcel">
                <Tooltip Text="Descargar reporte Excel" Placement="TooltipPlacement.Top">
                    <i class="fas fa-file-excel"></i> Excel
                </Tooltip>
            </a>
            
            @* <br>
            <span>Total pagado: $@sumaImporteBruto.ToString("N2", new System.Globalization.CultureInfo("es-AR"))</span>
 *@
            
            
            <div class="row">

                @* <h4 class="col-4">
                    <b>Saldo a Favor no Aplicado: $@saldoAFavorNoAplicado.ToString("N2", new System.Globalization.CultureInfo("es-AR"))</b> 
                </h4> *@

                

            </div>

            @* <br>
            <span>Total comprado: $@sumaTotal.ToString("N2", new System.Globalization.CultureInfo("es-AR"))</span>
 *@
            <br>
            <DataGrid TItem="CuentaCorrienteVM"
                      Data="@cuentaCorriente"
                      PageSize="10000"
                      Responsive
                      Class="table table-bordered table-striped">

                @* <DataGridColumn Caption="" Editable="false">
                    <DisplayTemplate> *@
                        @* @if (context.nro_cliente != null)
                        {

                              <a class="col col-1" type="Button" @onclick="() => ExportToPdf(context)">
                                  <Tooltip Text="Descargar Factura" Placement="TooltipPlacement.Top">
                                      <i class="fas fa-file-pdf"></i>
                                  </Tooltip>
                              </a>
                        } *@
                    @* </DisplayTemplate>
                </DataGridColumn> *@
                @* <DataGridColumn Field="@nameof(CuentaCorrienteVM.tipoDocumento)" Caption="Tipo de documento" Editable="false"></DataGridColumn> *@
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.DescripcionTipoDocumento)" Caption="Tipo de documento" Editable="false"></DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.nro_Factura)" Caption="Nro de factura" Editable="false"></DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.nro_remito)" Caption="Nro de remito" Editable="false"></DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.fechaFactura)" Caption="Fecha de factura" Editable="false">
                    <DisplayTemplate>
                        <p>@context.fechaFactura.ToString("dd/MM/yyyy")</p>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.importeBruto)" Caption="Importe bruto" Editable="false">
                    <DisplayTemplate>
                        @{
                            var importeBrutoFormateado = context.importeBruto.ToString("N2",new System.Globalization.CultureInfo("es-AR"));
                        }
                        @if(context.tipoDocumento != "RU"){

                            <span>$@importeBrutoFormateado</span>
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.importePendiente)" Caption="Importe pendiente" Editable="false">
                    <DisplayTemplate>
                        @{
                            var importePendienteFormateado = context.importePendiente.ToString("N2",new System.Globalization.CultureInfo("es-AR"));
                        }
                        <span>$@importePendienteFormateado</span>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.fechaVencimiento)" Caption="Fecha de vencimiento" Editable="false">
                    <DisplayTemplate>
                        <p>@context.fechaVencimiento.ToString("dd/MM/yyyy")</p>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.dias_de_mora)" Caption="Dias de mora" Editable="false"></DataGridColumn>

                @* <DataGridColumn Field="@nameof(CuentaCorrienteVM.nro_cliente)" Caption="Nro cliente" Editable="false"></DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.estado)" Caption="Estado" Editable="false"></DataGridColumn>
                <DataGridColumn Field="@nameof(CuentaCorrienteVM.factura_vencida)" Caption="Factura vencida" Editable="false">
                    <DisplayTemplate>
                        @{
                            var texto = context.factura_vencida == "S" ? "Sí" : "No";
                            var color = context.factura_vencida == "S" ? "red" : "black";
                        }
                        <span style="color:@color">@texto</span>
                    </DisplayTemplate>
                </DataGridColumn> *@
            </DataGrid>
        }

        <br>
        <br>
        <h4><b>Total pendiente: $@sumaImportePendiente.ToString("N2", new System.Globalization.CultureInfo("es-AR"))</b> </h4>
        <br>
        <div class="row">
    
            <div class="col-4">
                <textarea class="form-control" @bind="textoConsulta" cols="20" rows="5" placeholder="Ingrese aquí su consulta..."></textarea>
            </div>

            <div class="col-2">

            <Tooltip Text="Se enviara una consulta con sus datos y recibira una respuesta por mail." Placement="TooltipPlacement.Top">
                @if (puedeConsultar)
                {
                    <button class="btn btn-primary" @onclick="ConsultaSaldo">Enviar Consulta</button>
                }
                else
                {
                    <button class="btn btn-primary" disabled>Enviar Consulta</button>
                }
            </Tooltip>
            </div>
        </div>

    </div>
</div>
@* </div> *@

@code {
    List<CuentaCorrienteVM> cuentaCorriente = new();
    FiltroCuentasCorrientesVM filtro = new();
    List<UsuarioVM> clientes = new();
    public bool espera = false;
    SesionUsuario sesionUsuario = new();
    private double sumaImporteBruto;
    private double sumaImportePendiente;
    private double sumaTotal;
    private double saldoAFavorNoAplicado = 0;
    public bool puedeConsultar = true;
    public string textoConsulta = "";

    protected override async Task OnInitializedAsync()
    {
        sesionUsuario = await _sessionStorageService.ObtenerStorage<SesionUsuario>("sesionUsuario");
        if (sesionUsuario == null)
        {
            await JSRuntime.InvokeVoidAsync("AlertaArticulo", "Error: Usuario no encontrado.");
            return;
        }

        if (_cuentasCorrientesContainer.cliente == null && sesionUsuario.Rol == "Comercial")
        {
            var msj = "¡Debe seleccionar un cliente antes de consultar sus facturas!";
            await JSRuntime.InvokeVoidAsync("AlertaArticulo", msj);
            navigation.NavigateTo("/CuentasCorrientesTablaUsuarios");
            return;
        }

        espera = true;
        clientes = (await _usuarioService.GetClientes()).OrderByDescending(x => x.nroUsuarioJDE).ToList();

        if (sesionUsuario.Rol != "Comercial")
        {
            filtro.NroCliente = int.Parse(sesionUsuario.NroUsuarioJDE);
        }
        else if (_cuentasCorrientesContainer.cliente != null)
        {
            filtro.NroCliente = int.Parse(_cuentasCorrientesContainer.cliente.nroUsuarioJDE);
        }
        await Buscar();

        espera = false;
    }



    public async Task Buscar()
    {
        espera = true;
        if (sesionUsuario.Rol != "Comercial")
        {
            filtro.NroCliente = int.Parse(sesionUsuario.NroUsuarioJDE);
        }
        var cuentasCtesAux = await _dataWarehouseService.GetCuentasCorrientes(filtro);
        cuentaCorriente = cuentasCtesAux;//.Where(x => x.tipoDocumento != "RU").ToList();
        //sumaImporteBruto = cuentaCorriente.Sum(x => x.importeBruto);
        sumaImportePendiente = cuentasCtesAux.Sum(x => x.importePendiente); //cuentaCorriente.Sum(x => x.importePendiente);
        //if (cuentasCtesAux.Where(x => x.tipoDocumento == "RU").Count() > 0)
        //saldoAFavorNoAplicado = (cuentasCtesAux.Where(x => x.tipoDocumento == "RU").Sum(x => x.importePendiente)) * -1;
        //sumaTotal = sumaImporteBruto + sumaImportePendiente;
        espera = false;
    }
    private async Task downloadFile(string fileName, string filePath)
    {
        var element = await JSRuntime.InvokeAsync<IJSObjectReference>("BlazorDownloadFile", "a");
        await element.InvokeVoidAsync("setAttribute", "href", filePath);
        await element.InvokeVoidAsync("setAttribute", "download", fileName);
        await element.InvokeVoidAsync("click");
        await element.InvokeVoidAsync("dispose");
    }

    private async Task Recargar()
    {
        _cuentasCorrientesContainer.cliente = null;
        navigation.NavigateTo("/CuentasCorrientesTablaUsuarios");
    }

    private async Task GenerarExcel()
    {
        await _excelService.exportExcelCuentasCorrientes(cuentaCorriente, filtro, JSRuntime, _cuentasCorrientesContainer.cliente);
    }

    private async Task ConsultaSaldo()
    {
        puedeConsultar = false;
        var consulta = new ConsultaSaldoAFavor(_cuentasCorrientesContainer.cliente.id, saldoAFavorNoAplicado,textoConsulta);
        //if(await _dataWarehouseService.EnviarConsultaSaldo(consulta))
        await _dataWarehouseService.EnviarConsultaSaldo(consulta);
        //{
        var msj = "Su consulta se envio correctamente.";
        await JSRuntime.InvokeVoidAsync("AlertaArticulo", msj);
        // }
        // else
        // {
        //     var msj = "Por el momento no es posible enviar la consulta, intente de nuevo mas tarde.";
        //     await JSRuntime.InvokeVoidAsync("AlertaFallo", msj);
        //     puedeConsultar = true;
        // }
        textoConsulta = "";
    }

    // private async Task ExportToPdf(FacturasSP factura)
    // {

    //     // Generar el PDF
    //     try
    //     {
    //         var respuesta = await _pdfService.GetFacturaByte(factura);
    //         if (respuesta.Exito)
    //         {
    //             var base64 = Convert.ToBase64String(respuesta.Data);
    //             // Descargar el PDF
    //             var fileName = $"Factura nro {factura.NroFactura}.pdf";
    //             await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", fileName, base64);
    //         }
    //         else
    //         {
    //             await JSRuntime.InvokeVoidAsync("AlertaFallo", "No se pudo descargar la factura.");
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine(ex.Message);
    //     }


    // }
}
<script>
    function BlazorDownloadFile(filename, bytesBase64) {
        var link = document.createElement('a');
        link.download = filename;
        link.href = "data:application/octet-stream;base64," + bytesBase64;
        document.body.appendChild(link); // Needed for Firefox
        link.click();
        document.body.removeChild(link);
    }
</script>
